<h1 class="page-header">{{movie.name}} ({{movie.release_date}})</h1>
<p>Was watched on {{prettifyDate movie.date}}</p>

<div class="well">
    <p>{{movie.description}}</p>
</div>

<img class="img-responsive" src={{movie.posterUrl}}>