<h1 class="page-header">{{movie.name}}</h1>

<p>Was watched on {{prettifyDate movie.date}} and this movie was released {{prettifyDate movie.yearMade}}.</p>

<div class="well">
    <p>{{movie.description}}</p>
</div>

<img class="img-responsive" src={{movie.posterUrl}}>